# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Generated model outputs (re-created by running the model)
output/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
